---
---

@import "{{ site.theme }}";

p {
    text-align: justify;
}

.index{
	list-style-type: none;
    margin: 0;
    width: 20%;
	max-width: 30em;
	height:50%;
    background-color: #f1f1f1;
    position: fixed;

}


.content{
	text-align: justify;
	padding:1%;
}

.index-ol{
	word-wrap: break-word;
	max-height:100%;
	overflow:auto;
}

.index-ol-wrap{
	display: flex;
	justify-content: center;
	align-items: center; 
	height:100%;
	}

.main-content{
	padding: 2rem 0rem;
	box-sizing: content-box;
	margin-left: 20%;
	margin-right: 20%;
	}

.index-wrap{
position:fixed;
	width: 20%;
	height: 100%;
	background-color: #e6e6e6;
	z-index:-1;
	overflow:auto;
}

.content-wrap{
	height: 100%;
}

.page-header {
	padding: 2rem 0rem;
}
